body { 
    background: white;
}

canvas {
    background: none;
    margin: 20px;
}

.buttons {
    padding: 10px;
}

.information {
    /* padding: 20px;*/
    margin-top: 30px;
}

.information {
    font-size: 18px;
}

.black-button {
    background-color: black;
    color: white;
}

.red-button{
background-color: red;
color:white;}


.blue-button{
background-color: blue;
color:white;}

.yellow-button{
background-color: yellow;
color:black;
}

.green-button{
background-color: green;
color:white;
}

.pink-button{
background-color: pink;
color:white;
}

.orange-button{
background-color: orange;
    color:white;
}

