<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CosmosComputing</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">

    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    
    <!-- Canvas CSS -->

    <link href="/static/css/canvas.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#cosmos">CosmosComputing</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#use">How to use</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row" id="cosmos">
            <div class="col-lg-12 text-center">
                <h1>Cosmos Computing</h1>
                <canvas id = "canvas" width="420px" height="420px" style="margin:20px;"></canvas>
                <div class="buttons">
                            <button type="button" class="btn btn-secondary" id = "chooseBlackColour" type="button" >Black</button>
                            <button type="button" class="btn btn-secondary" id = "chooseRedColour" type ="button" >Red</button>
                            <button type="button" class="btn btn-secondary" id = "chooseBlueColour" type ="button" >Blue</button>
                            <button type="button" class="btn btn-secondary" id = "chooseYellowColour" type ="button" >Yellow</button>
                            <button type="button" class="btn btn-secondary" id = "chooseGreenColour" type="button">Green</button>
                            <button type="button" class="btn btn-secondary" id = "choosePinkColour" type="button">Pink</button>
                            <button type="button" class="btn btn-secondary" id = "chooseOrangeColour" type="button">Orange</button>

                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-secondary" id="coordinates" type="button" >Generate Instructions</button>
                </div>
                <div class = "text-form">
                    <label for="instructions">Instructions</label>
                    <textarea class="form-control" id="instructions" rows="3"></textarea>
                </div> 
                <script src="static/js/canvas.js"></script>
            </div>
        <!-- /.row -->
        </div>
        <div class="row">
            <div class="information">
            <!---<div class="col-lg-12 text-center">--!>
                <div id="about">
                        <h2>About</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                               ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
 LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                             ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
 LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                             ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
 LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                             ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
 LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
 LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                            Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                            Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                            kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                            ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                            Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.                           Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.
                            </p>
                </div>
                <div id="use">
                    <h2 >How to Use</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                        Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                        Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                        kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                        ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                        Curae; Pellentesque semper venenatis quam. Suspendisse a neque a urna convallis feugiat. Fusce ut semper leo.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                        Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                        Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                        kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                        ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                        CLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                        Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                        Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                        kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                        ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                        CuLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                        Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                        Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                        kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                        ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                        CurLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate leo hendrerit nunc dignissim ornare. 
                        Morbi a dui vulputate, dignissim orci ac, cursus lacus. Ut bibendum varius lacus, et placerat mauris placerat at.
                        Suspendisse potenti. Suspendisse potenti. Nunc sollicitudin, tellus nec placerat lacinia, urna risus fermentum sem, 
                        kvel tincidunt arcu dolor sit amet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
                        ridiculus mus. Integer ac tempor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                        Curae;ae;rae;urae;
                        </p>
                </div>
            <script src="static/js/scroll.js"></script>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->


    
</body>

</html>
